@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

.grid{
  grid-template-areas: "video video img1 img2"
                        "video video img3 img4";
}
.video{
  grid-area: video;
  object-fit: cover;
}
.img1{
  grid-area: img1;
  object-fit: cover;
  object-position: top;
}
.img2{
  grid-area: img2;
  object-fit: cover;
  object-position: top;
}
.img3{
  grid-area: img3;
  object-fit: cover;
  object-position: top;
}
.img4{
  grid-area: img4;
  object-fit: cover;
  object-position: top;
  position: relative;
}